
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    height: 100vh;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../imagens/Foto2.jpg);
    background-size: cover;
    background-position: 100% 0;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-Weight: 800;
    font-size: 72px;
    color: #716969;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #000;

}

#secao-apresentacao{
    height: 100vh;
    align-items: center;
    padding: 2rem;
    gap:5rem;
    display: flex;
    background:linear-gradient(to left, white, blue);

}

#secao-apresentacao img{
    border-radius: 50%;
}
#texto-apresentacao{
    color: #000;
}
#texto-apresentacao h2 {
    font-size: 2.25rem;
    /* 16px = 1rem */
}

#texto-apresentacao p{
    font-size: 1.75rem;
    /* 16px = 1rem */
}
#secao-projetos{
    height:100vh;
    background:linear-gradient(to left,white, blue);
}
#secao-projetos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
}

#secao-projetos li {
    list-style: none;
}

.card{
    max-height: 420px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
}

.card .image{
    height: 100%;
    width: 100%;
}
.image img{
    height: 100%;
    width: 100%;
}

.card .texto{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s;
}
.card:hover .texto {
    opacity: 1;

}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
    
}

#secao-orcamento form{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
}
.campo{
    display: flex;
    flex-direction: column;

}

.linha{
    grid-column: 1 / 3;
}
input[type=text],
input[type=number],
select
{
    background-color: #716969;
    color: white;
    border-radius: .25rem;
    border: 0;
    padding: .5rem;
}

input[type = radio],
input[type = checkbox],
input[type = range]{
    accent-color: blue;
}
